{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
