language: node_js
node_js:
  - 8
  - 10
  - 11
  - 12
cache:
  directories:
    - node_modules
branches:
  only:
    - master
notifications:
  email: false
before_script:
  - npm prune
script:
  - npm run lint
  - npm run test
  - npm run build
  - npm run coverage
